/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #00214D;
    color: white;
}

h1 {
    color: #fcfcfc;
    text-align: center;
    padding-top: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

/* Table styles */
table {
    width: 80%;
    border-collapse: collapse;
    background-color: #ffffff;
    color: #00214D;
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #00214D;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e6e6e6;
}

/* Button styles */
button {
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
}

.editar {
    background-color: #e19819;
}

.eliminar {
    background-color: #dc3545;
}
